@font-face {
    font-family: "Solaria";
    font-weight: 400;
    src: url(Solaria.otf);
}

body {
    background: #000;

    --ui-scale: 1;

    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
* {
    touch-action: pan-x pan-y;
    font-family: "Solaria";
    color: #EEE;
    font-size: 20px;
    -webkit-tap-highlight-color: #0000;
}
button {
    background: linear-gradient(#888, #555);
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 6px 7px;
    margin: 5px 0 0 0;
    cursor: pointer;
}
button.toggle-switch {
    background: linear-gradient(#444, #333);
    border: 2px solid #000;
    border-radius: 21px;
    display: block;
    width: 80px;
    height: 41px;
}
button.toggle-switch::before {
    content: "";
    background: linear-gradient(#B90, #970);
    border: 1px solid #000;
    border-radius: 19px 0 0 19px;
    display: block;
    width: 19px;
    height: 37px;
    margin-left: -8px;
    margin-top: -7px;
    transition: .2s width;
}
button.toggle-switch[active]::before {
    width: 61px;
}
button.toggle-switch::after {
    content: "";
    background: linear-gradient(#888, #555);
    border: 2px solid #000;
    border-radius: 50%;
    display: block;
    width: 37px;
    height: 37px;
    margin-left: -9px;
    margin-top: -40px;
    transition: .2s margin-left;
}
button.toggle-switch[active]::after {
    margin-left: 30px;
}
input[type=range] {
    background: linear-gradient(#888, #555);
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    width: 160px;
    height: 6px;
    cursor: pointer;
    -webkit-appearance: none;

    margin: 14px 0 0;
}
input[type=range]::-webkit-slider-thumb {
    background: linear-gradient(#FC0, #A80);
    border: 2px solid #000;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    background: linear-gradient(#FC0, #A80);
    border: 2px solid #000;
    border-radius: 9px;
    width: 14px;
    height: 14px;
    appearance: none;
}
select {
    background: linear-gradient(#888, #555);
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 5px 7px;
    cursor: pointer;
}

.gui-border {
    background: #0008;
    backdrop-filter: blur(calc(25px / var(--ui-scale)));
    -webkit-backdrop-filter: blur(calc(25px / var(--ui-scale)));
    min-width: 64px;
    min-height: 64px;
}
.gui-border::before {
    content: "";
    border: 25px solid;
    border-image: url("data:image/svg+xml,<svg width='150' height='150' xmlns='http://www.w3.org/2000/svg'><path d='M40 0H44V4H106V0H110L150 40V44H146V106H150V110L110 150H106V146H44V150H40L0 110V106H4V44H0V40M24 24V126H126V24' fill='%23000'/><linearGradient id='borders-gradient'><stop stop-color='%23888'/><stop offset='1' stop-color='%23555'/></linearGradient><path d='M8 40L20 28V122L8 110' fill='url(%23borders-gradient)'/><path d='M8 40L20 28V122L8 110' fill='url(%23borders-gradient)' transform='rotate(90 75 75)'/><path d='M8 40L20 28V122L8 110' fill='url(%23borders-gradient)' transform='rotate(180 75 75)'/><path d='M8 40L20 28V122L8 110' fill='url(%23borders-gradient)' transform='rotate(270 75 75)'/><radialGradient id='corners-gray-gradient' cx='100%' cy='100%' r='142%'><stop stop-color='%23666'/><stop offset='1' stop-color='%23AAA'/></radialGradient><path d='M4 28V4H28' fill='url(%23corners-gray-gradient)'/><path d='M4 28V4H28' fill='url(%23corners-gray-gradient)' transform='rotate(90 75 75)'/><path d='M4 28V4H28' fill='url(%23corners-gray-gradient)' transform='rotate(180 75 75)'/><path d='M4 28V4H28' fill='url(%23corners-gray-gradient)' transform='rotate(270 75 75)'/><path d='M112 2L148 38M112 148L148 112M38 148L2 112M38 2L2 38' fill='%230000' stroke='%23000' stroke-width='14'/><linearGradient id='gold-lines-gradient' gradientTransform='rotate(45)'><stop offset='.62' stop-color='%23FC0'/><stop offset='.79' stop-color='%23A80'/></linearGradient><path d='M2 38L38 2' stroke='url(%23gold-lines-gradient)' stroke-width='6'/><path d='M2 38L38 2' stroke='url(%23gold-lines-gradient)' stroke-width='6' transform='rotate(90 75 75)'/><path d='M2 38L38 2' stroke='url(%23gold-lines-gradient)' stroke-width='6' transform='rotate(180 75 75)'/><path d='M2 38L38 2' stroke='url(%23gold-lines-gradient)' stroke-width='6' transform='rotate(270 75 75)'/><path d='M108 2H148V42M108 148H148V108M42 148H2V108M42 2H2V42' fill='%230000' stroke='%23000' stroke-width='4'/></svg>") 50 / 25px / 2px;
    position: absolute;
    left: -9px;
    top: -9px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    pointer-events: none;
}
[hidden] {
    display: none !important;
}

#debug-text {
    padding: 5px 8px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 90px;
    transform: translate(calc((50% + 9px) * var(--ui-scale) - 50%), calc((50% + 9px) * var(--ui-scale) - 50%)) scale(var(--ui-scale));
    z-index: 100;
}

#main-menu {
    width: 100vw;
    height: 100vh;
}
#main-menu-background {
    background-image: url("main-menu-background.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 3s opacity;
}
#main-menu-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    left: 50vw;
    top: 50vh;
    width: min(500px, 100vw / var(--ui-scale));
    transform: translate(-50%, -50%) scale(var(--ui-scale));
    opacity: 0;
    transition: .5s opacity;
}
#main-menu-button-play {
    color: #FC0;
    background: linear-gradient(#555, #333);
    border-color: #EB0;
    border-radius: 15px;
    width: min(500px, 100vw / var(--ui-scale));
    padding: 10px 0;
    margin: 0;
    font-size: 30px;
}
#main-menu-buttons button:not(#main-menu-button-play) {
    border-radius: 15px;
    width: 248px;
    padding: 10px 0;
    font-size: 22px;
}

#settings {
    position: fixed;
    left: 50vw;
    top: 50vh;
    width: calc(800px - 38px);
    height: calc(min(700px, max(450px, 100vh / var(--ui-scale))) - 38px);
    padding: 10px;
    transform: translate(-50%, -50%) scale(var(--ui-scale));
    text-align: center;
}
#settings-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#settings-tabs button {
    background: #0000;
    border: none;
    outline: 2px solid #FC00;
    outline-offset: -1px;
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    margin-top: 0;
    transition: .2s color, .2s border-color, .2s outline-color;
}
#settings-tabs button[selected] {
    color: #FC0;
    outline-color: #FC0D;
}
#settings-options {
    height: calc(100% - 140px);
    padding: 0 20px;
    margin: 20px 0 15px 0;
    overflow: scroll;
}
.settings-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
}
.settings-options div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
}
.settings-options div * {
    margin: 0;
}
button.settings-control {
    width: 150px;
}
input.settings-control {
    background: linear-gradient(#888, #555);
    border: 2px solid #FC0;
    border-radius: 5px;
    outline: none;
    width: 132px;
    padding: 6px 7px;
    cursor: pointer;
    text-align: center;
}
#settings-control-input {
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
}
#settings-control-input-button {
    border-radius: 10px;
    width: 196px;
    height: 100px;
}
#settings-control-input-unassign {
    margin-right: 8px;
}

#devtools {
    position: fixed;
    top: 50vh;
    left: 0;
    padding: 5px 8px 9px 8px;
    transform: translate(calc((50% + 9px) * var(--ui-scale) - 50%), -50%) scale(var(--ui-scale));
}

#hotbar {
    position: fixed;
    left: 50vw;
    bottom: 0;
    width: 500px;
    height: 150px;
    transform: translate(-50%, calc(50% - (50% + 9px) * var(--ui-scale))) scale(var(--ui-scale));
}
#hotbar-abilities {
    margin: 8px;
}
#hotbar-abilities button {
    --cooldown: #0000;
    width: 39px;
    margin: 0;
}
#hotbar-abilities button[selected] {
    background: linear-gradient(#B90, #970);
}
#hotbar-abilities button::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--cooldown);
    border-radius: 2px;
    width: 35px;
    height: 37px;
    margin: -31px 0 0 -7px;
}
#hotbar-health-bar, #hotbar-health-bar-frank {
    width: 484px;
    height: 26px;
    margin: 0 8px 4px 8px;
}

#game-crash {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50vw;
    top: 50vh;
    padding: 30px;
    transform: translate(-50%, -50%) scale(var(--ui-scale));
    text-align: center;
    z-index: 100;
}
#game-crash-title {
    font-size: 26px;
    margin-bottom: 20px;
}
#game-crash-report {
    text-underline-offset: 2px;
}
#game-crash-error-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#game-crash-error {
    margin-top: 20px;
    text-align: left;
}
#game-crash-bottom {
    display: flex;
    justify-content: flex-end;
}
#game-crash-reload {
    margin-top: 20px;
}
