html {
  --background-color: #13131A;
  --border-color: #212128;
  --text-color: #ADB5BD;
  --text-hover-color: #E4E8EC;
  --link-color: #58A6FF;
  --logo-color: #FF0000;
  --contrast-color: #0055CC;
  --contrast-hover-color: #0088CC;
  --danger-color: #CC2A2A;
  --danger-hover-color: #CC4444;
}
#test {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  background-color: var(--danger-color);
}
#test:hover {
  background-color: var(--danger-hover-color);
}
pre {
  --code-default: var(--text-color);
  --code-keyword: #f0f;
  --code-comment: #555;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 2px 2px 5px 5px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 3px;
}
body {
  background-color: var(--background-color);
  background-image: url("../backgrounds/default.svg");
  background-size: 100vw;
  color: var(--text-color);
  font-size: 18px;
  margin: 0;
  font-family: "Roboto";
}
main {
  margin: 100px 220px;
}
p {
  padding: 0 5px;
}
a:link, a:visited, a[href]:hover, a[href]:focus {
  text-decoration: none;
  color: var(--link-color);
}
header {
  font-weight: bold;
  background-color: var(--background-color);
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#logo {
  margin-left: -15px;
  margin-top: -2px;
  height: 20px;
  fill: var(--logo-color);
}
#menuButton {
  margin-left: -5px;
  margin-top: -2px;
  height: 20px;
  fill: var(--text-color);
  cursor: pointer;
}
#menuButton:hover {
  margin-top: -2px;
  height: 20px;
  fill: var(--text-hover-color);
}
#headerList {
  height: 40px;
}
#headerList a:link, #headerList a:active, #headerList a:visited {
  color: var(--text-color);
}
#headerList-currentPage-text[href]:link, #headerList-currentPage-text[href]:active, #headerList-currentPage-text[href]:visited, #headerList a:hover {
  color: var(--text-hover-color);
}
#headerList-currentPage-underline {
  border-bottom: 2px solid var(--text-color);
  height: 20px;
}
ul#headerList {
  margin: 5px 25px 0 10px;
  padding: 0;
}
ul#headerList li {
  list-style: none;
  float: left;
  padding: 5px 10px 14px 10px;
  margin-right: 15px;
}
#headerDeko {
  background-color: var(--border-color);
  width: 100%;
  height: 1px;
}
#menu {
  position: fixed;
  top: 38px;
  left: -241px;
  width: 200px;
  height: calc(100vh - 54px);
  border-right: 1px solid var(--border-color);
  background-color: var(--background-color);
  transition-duration: 1s;
}
#menu li {
  list-style: none;
  padding-bottom: 12px;
  padding-top: 6px;
  border-bottom: 1px solid var(--border-color);
}
#menu li a {
  padding: 6px 0 12px 8px;
  width: 192px;
  display: block;
  margin-top: -5px;
  margin-bottom: -14px;
  font-size: 18px;
  color: var(--text-color);
}
#menu li a:hover {
  color: var(--text-hover-color);
}
summary {
  font-weight: bold;
  padding: 13px 0 13px 9px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
details {
  width: 100%;
  bottom: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: -2px 0 0 0;
}
.expandable {
  padding: 6px 0 6px 9px;
  border-top: 1px solid var(--border-color);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 70px;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 50px;
}
h5 {
  font-size: 40px;
}
h6 {
  font-size: 30px;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.listTitle {
  text-align: left;
  padding: 13px 40px 10px 40px;
}
.listSearch {
  text-align: left;
  padding: 10px 40px 10px 40px;
}
.listSearchInput {
  width: 100%
}
.li {
  border-top: 1px solid var(--border-color);
  padding: 5px 5px 8px 40px;
}
.li a:link, .li a:visited, .li a[href]:focus {
  color: var(--text-color);
}
.li a:hover {
  color: var(--text-hover-color);
}
.block {
  margin: 2px 10px 2px 0px;
}
.space {
  height: 20px;
}
.downloadButton:link, .downloadButton:visited, .downloadButton[href]:focus, .downloadButton {
  background-color: var(--contrast-color);
  color: var(--text-hover-color);
  border-radius: 24px;
  font-size: 16px;
  padding: 15px 100px;
  width: 200px;
  transition-duration: 500ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.downloadButton[href]:hover, #headerDownloadButton[href]:hover {
  background-color: var(--contrast-hover-color);
  color: var(--text-hover-color);
}
#headerDownloadButton:link, #headerDownloadButton:visited, #headerDownloadButton[href]:focus {
  background-color: var(--contrast-color);
  color: var(--text-hover-color);
  transition-duration: 500ms;
  border-radius: 19px;
  font-size: 16px;
  padding: 10px 60px;
  position: fixed;
  right: 6px;
  top: 6px;
}
input[type="search"] {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-color);
  font-size: 16px;
  padding: 5px 0px 5px 6px;
}
input[type="search"]:focus {
  outline: none;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  width: 10px;
  height: 10px;
  background: var(--border-color);
}
::-webkit-scrollbar-thumb {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--text-color);
}
